$cor-principal: #E74646;
$cor-secundaria: #B5D5C5;

body {
    margin: 0;
    padding: 0;
}


.container {
    height: 100vh;
    display: flex;

    .esquerdo {
        width: 50%;
        background-color: $cor-principal;

        .texto {
            margin-top: 40%;
            text-align: center;
            font-size: 200px;
            color: $cor-secundaria;
        }
    }

    .direito {
        width: 50%;
        background-color: $cor-secundaria;

        .texto {
            color: $cor-principal;
            margin-top: 40%;
            text-align: center;
            font-size: 200px;
        }
    }
}