body {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: flex;

    .esquerdo {
        width: 50%;
        background-color: purple;

        .texto {
            margin-top: 40%;
            text-align: center;
            font-size: 200px;
            color: aqua;
        }
    }

    .direito {
        width: 50%;
        background-color: aqua;

        .texto {
            color: purple;
            margin-top: 40%;
            text-align: center;
            font-size: 200px;
        }
    }
}